<img src="https://www.dropbox.com/s/g80ie1a310mlq31/_9_k7jHbLt0.jpg?dl=1" class="pull-left some-margins">
<p>Привет, меня зовут Евгений. С января 2013-го я занимаюсь Ruby, Rails и многими вещами, используемыми при работе с ними. Я очень люблю классные веб-приложения и постоянно пополняю багаж знаний (и практики) о том, как их делать, поддерживать и развивать. Так же мне интересен devops и получение опыта работы с высоконагруженными приложениями (распределение нагрузки, масштабирование).</p>
<p><a href="https://github.com/Freika"><%= icon :github, library: :font_awesome %> https://github.com/Freika</a></p>
<p><a href="https://twitter.com/forever_frey"><%= icon :twitter, library: :font_awesome %> https://twitter.com/forever_frey</a></p>
